html {
  height: 100%;
  width: 100%;
}

.phoneGap, .conclusion, .flutter, .react {
    background-color: lightblue;
  padding: 3vh;
}
 h1 {
  font-family: Impact, Charcoal, sans-serif;
  font-size: 2em;
  text-align: center;
  color: rebeccapurple;

}
 h2 {
  font-family: Roboto, sans-serif;
  font-size: 1.5em;
  text-align: center;
  color: mediumpurple;
}

h4 {
font-family: Roboto, sans-serif;
  font-size: 2vh;
  color: black;
 font-weight: 800em;
  margin-top: 7vh;
  margin-bottom: 4vh;
}

p {
   font-family: Roboto, sans-serif;
  font-size: 2.6vh;
  margin-top: 5vh;
}

ul li {
  font-family: Roboto, sans-serif;
  font-size: 2.6vh;
}
footer {
  font-size: 2.6vh;
}
